*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  background-image: linear-gradient(
    #1B1A1F, 
    #111013
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body::-webkit-scrollbar{
  width: 10px;
  background-color: #1B1A1F;
}

body::-webkit-scrollbar-thumb{
  background: linear-gradient(
    var(--detail-orange),
    var(--detail-yellow)
  );
  border-radius: 10px;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.container__header, 
.container__section,
.container__footer{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 24px;
}

.container__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container__footer{
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .container__header, 
  .container__section,
  .container__footer{
    padding: 0 16px;
  }

  .container__footer{
    padding: 30px 16px;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .container__footer{
    gap: 32px;
  }
}