footer{
  background-color: #252526;
  color: var(--color-white);
  font-family: var(--fontFamily-FiraSans);
}

.footer__list{
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.footer__list a{
  color: var(--color-white);
  transition: color .2s ease-in-out;
}

.footer__list a:hover{
  color: var(--colorlink-gray);
}

.footer__socialMidia{
  width: 230px;
  display: flex;
  gap: 60px;
  flex-direction: column;
  font-size: var(--fontSize-18);
}

.footer__socialMidia .footer__socialMidia__icons{
  margin-top: 27px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer__socialMidia .footer__newsletter{
  margin-top: 16px;
  display: flex;
  align-items: center;
  background-color: #17161b;
  border: 1px solid var(--detail-orange);
  border-radius: 6px;
}

.footer__newsletter input{
  flex: 1;
  padding: 10px; 
  background-color: transparent;
  color: var(--color-white);
  font-family: var(--fontFamily-Roboto);
  border: none;
  outline: none;
}

.footer__newsletter svg{
  margin-right: 8px;
}

.footer__downloadApp{
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: var(--fontSize-18);
}

.footer__downloadApp > div {
  display: flex;
  flex-direction: column;
  gap: 26px
}

.footer__copyright{
  padding: 30px 16px;
  background-color: var(--detail-yellow);
  text-align: center;
  color: #17161B;
  font-weight: 500;
}

/*Tablet*/
@media screen and (max-width: 768px) {
  .footer__socialMidia{
    gap: 40px;
  }

  .footer__socialMidia .footer__socialMidia__icons{
    margin-top: 24px;
    justify-content: center;
  }

  .footer__downloadApp{
    gap: 26px;
  }
}