.container__section{
  margin: 100px auto;
}

.title__section{
  color: var(--detail-yellow);
  font-family: var(--fontFamily-Roboto);
  font-size: var(--fontSize-30);
}

.title__section::after{
  content: '';
  width: 100%;
  height: 1px;
  margin: 30px 0;
  display: block;
  background-color: white;
  opacity: .08;
}

.grid__section{
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 80px 32px;
  justify-content: center;
  color: var(--color-white);
  font-family: var(--fontFamily-Roboto);
}

.grid__section .item__section{
  padding: 48px;
  background-color: #252526;
  border-radius: 10px;
}

.item__section .item__section__first{
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__section__first div{
  display: flex;
  gap: 6px;
  align-items: center;
}

.item__section__first div span{
  opacity: .8;
  font-size: var(--fontSize-16);
  font-weight: 300;
}

.item__section .item__section__first p{
  font-size: var(--fontSize-16);
}

.item__section .item__section__first p::before{
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 12px;
  display: inline-block;
  background: radial-gradient(
    #7D1616,
    #FA2B2B
  );
  border-radius: 50%;
}

.item__section .item__section__second{
  margin-bottom: 30px;
}

.item__section__second > div{
  display: flex;
  justify-content: space-between;
}

.item__section__second .title__section__second{
  font-size: var(--fontSize-30);
  font-weight: 700;
}

.section__second__icons{
  display: flex;
  align-items: center;
  gap: 8px;
}

.item__section__second .author__section__second{
  margin-top: 6px;
  font-weight: 400;
}

.item__section .item__section__body{
  margin-bottom: 30px;
  opacity: .8;
  font-size: var(--fontSize-18);
  font-weight: 400;
  line-height: 26px;
}

.item__section .item__section__third{
  margin-bottom: 30px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.item__section__third > div{
  display: flex;
  gap: 6px;
  align-items: center;
}

.item__section__third span{
  opacity: .8;
}

.item__section__third .avaliation{
  padding: 4px;
  display: inline-block;
  background-color: #FA2B2B;
  color: var(--color-white);
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid var(--color-white);
  border-radius: 3px;
}

.item__section .item__section__forth{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__section__forth a{
  padding: 8px 26px;
  display: inline-block;
  color: var(--color-black);
  font-size: var(--fontSize-18);
  font-weight: 700;
  border-radius: 6px;
  background: linear-gradient(
    var(--detail-orange),
    var(--detail-yellow) 60%
  );
}

.item__section__forth a:hover{
  background: linear-gradient(
    var(--detail-yellow ) 60%,
    var(--detail-orange)
  );
}

.item__section__forth span{
  color: var(--detail-yellow);
  font-size: var(--fontSize-18);
  font-weight: 700;
}

/*Extra Large Desktop*/
@media screen and (max-width: 1440px) {
  .grid__section{
    gap: 80px 24px;
  }

  .grid__section .item__section{
    padding: 28px 24px;
    background-color: #252526;
    border-radius: 10px;
  }
}

/*Large Desktop*/
@media screen and (max-width: 1280px) {
  .grid__section{
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 480px)
    );
  }
}

/*Tablet*/
@media screen and (max-width: 768px) {
  .container__section{
    margin: 60px auto;
  }
  
  .grid__section{
    gap: 60px 12px;
  }
}