header{
  background-color: #151419;
  border-bottom: 1px solid var(--detail-orange);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
}

.header__bgImage{
  padding: 10px 22px;
  background: linear-gradient(
    var(--detail-orange),
    var(--detail-yellow)
  );
}

.container__flex{
  display: flex;
  align-items: center;
  gap: 100px;
}

.show--button{
  display: none;
}

.header__nav{
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__list{
  display: flex;
  gap: 32px;
}

.header__list a{
  padding: 10px 8px;
  display: block;
  color: var(--colorlink-gray);
  font-family: var(--fontFamily-Roboto);
  font-size: var(--fontSize-18);
  font-weight: 500;
  transition: color .2s ease-in-out;
}

.header__list a:hover{
  color: var(--color-white);
}

.header__listBtns{
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__listBtns .btn--create,
.header__listBtns .btn--login{
  padding: 6px 24px;
  display: block;
  color: var(--color-black);
  font-family: var(--fontFamily-Roboto);
  font-size: var(--fontSize-18);
  font-weight: 700;
  text-align: center;
  border-radius: 6px;
}

.header__listBtns .btn--create{
  background: linear-gradient(
    var(--detail-orange),
    var(--detail-yellow) 60%
  );
}

.header__listBtns .btn--create:hover{
  background: linear-gradient(
    var(--detail-yellow ) 60%,
    var(--detail-orange)
  );
}

.header__listBtns .btn--login{
  background-color: var(--color-white);
}

.header__search{
  display: flex;
  align-items: center;
  background-color: #292A2C;
  border-radius: 6px;
}

.header__search input{
  width: 440px;
  padding: 14px; 
  background-color: transparent;
  color: var(--color-white);
  font-family: var(--fontFamily-Roboto);
  border: none;
  outline: none;
}

.header__search svg{
  margin: 0 auto;
  padding: 5px 0;
}

/*Extra Large */
@media screen and (max-width: 1440px) {
  .header__nav{
    gap: 40px;
  }

  .header__search input{
    width: 320px;
  }
}

/*Large Desktop*/
@media screen and (max-width: 1280px) {
  .container__flex{
    gap: 24px;
  }

  .show--button{
    width: 40px;
    height: 40px;
    display: flex;
    border: 1px solid var(--detail-yellow);
    border-radius: 4px;
    cursor: pointer;
    background: url('../../../assets/images/menu.png');
  }

  .header__nav{
    display: none;
  }

  .header__nav.active{
    padding: 32px 24px;
    position: absolute;
    top: 104px;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #151419;
    border: 1px solid var(--detail-orange);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    animation: show-menu 1s forwards;
  }

  .header__listBtns .btn--create{
    margin-bottom: 24px;
  }

  .header__nav.active .header__list,
  .header__nav.active .header__listBtns{
    display: block;
  }

  .header__search{
    order: -1;
  }
}

/*Tablet*/
@media screen and (max-width: 768px) {
  .header__listBtns{
    width: 100%;
  }

  .header__search input{
    width: 200px;
  }
}

@keyframes show-menu {
  from{
    right: 100px;
    opacity: 0;
  }
  to{
    right: 0;
    opacity: 1;
  }
}